<% content_for :title, "Home" %>
<main>
  <section class="cta-section">
    <div class="cta-content">
      <h2><%= @home_heading %>p</h2>
      <p>Organize your life effortlessly. Whether you're at home, school, or work, this app helps you stay on top of tasks.</p>

      <div class="features">
        <ul>
          <li>Track your tasks with ease</li>
          <li>Prioritize and organize</li>
          <li>Simple, fast, and intuitive interface</li>
        </ul>
      </div>

      <button onclick="window.location.href='/tasks'">View Tasks</button>
    </div>
  </section>

  <section class="about-app">
    <p>This is a Todo app that I am trying to get familiar with Ruby on Rails and how it works. It's a simple project to practice building apps with Rails.</p>
  </section>
</main>